@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root{
    --blue: hsl(223, 87%, 63%);
    --paleBlue: hsl(223, 100%, 88%);
    --lightRed: hsl(354, 100%, 66%);
    --gray: hsl(0, 0%, 59%);
    --veryDarkBlue: hsl(209, 33%, 12%);
}

*{
    box-sizing: 0;
}

body{
    font-family: 'Libre Franklin', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding: 1em;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.logo{
    margin:2em;
}

h1{
    color: var(--gray);
    font-weight: 300;
    margin: 0;
}

span{
    color: var(--veryDarkBlue);
    font-weight: 700;
}

p{
    color: var(--veryDarkBlue);
    font-weight: 300;
}

form {
    display: flex;
}

input{
    border: 1px solid var(--paleBlue);
    border-radius: 30px;
    padding: 1em 1.5em ;
    width: 300px;
    outline: none;
    margin-right: 1em;
    margin-top: 1em;
}

.error-message{
    opacity: 0;
    font-size: 10px;
    font-style: italic;
    color: var(--lightRed);
    font-weight: 300;
    text-align: left;
    margin-left: 1.9em;
}

.form-control.error input{
    border-color: var(--lightRed);
    color: var(--lightRed);
}


.form-control.error input::placeholder{
    color: var(--lightRed);
}


::placeholder{
    color: var(--paleBlue);
}

button{
    display: block;
    cursor: pointer;
    outline: none;
    background: var(--blue);
    color: #fff;
    font-weight: 600;
    padding: 1em 3.5em;
    border: none;
    border-radius: 30px;
    margin-top: 1em;
    max-height: 45px;
    box-shadow: 0px 5px 5px 0px hsla(223, 87%, 63%, 0.3);
}

button:hover{
    opacity: 0.8;
}

.illustration{
    width: 100%;
    margin: 4em 0;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    display: inline-flex;
    color: var(--blue);
    border-radius: 50%;
    border: 1px solid var(--paleBlue);
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 30px;
    height: 30px;
    text-decoration: none;
}

li:hover{
    color: #fff;
    background-color: var(--blue);
    border: 1px solid var(--blue);
}

i{
    margin: 0;
}

.copy{
    color: var(--gray);
    font-size: 10px;
}


@media(max-width:700px){
    .container{
        width: 100%;
        padding: 1.2em;
    }

    input{
        margin-right: 0;
        width: calc(300px - 42px);
    }

    button{
        width: 300px;
    }

    form{
        flex-direction: column;
    }
}